@import "../../styles/tools/tools";

.about-page {
  padding-top: 110px;
  @media only screen and (max-width: 768px) {
    padding-top: 100px;
  }

  &__container {
    @extend %flex-sb;
    gap: 40px;
    @media only screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
  }

  &__story {
    flex: 0 1 50%;
    @media only screen and (max-width: 768px) {
      flex: 0 1 100%;
    }
  }

  .story {
    .header-story {
      margin-bottom: 20px;
      @media only screen and (max-width: 768px) {
        text-align: center;
        margin-bottom: 25px;
      }

      &__subtitle {
        font-size: 20px;
        font-weight: 400;
        @media only screen and (max-width: 550px) {
          font-size: 18px;
        }
      }

      &__title {
        font-size: $title-size;
        font-weight: 600;
      }
    }

    &__text {
      margin-bottom: 30px;
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
      }
    }

    .actions {
      @extend %flex-ac;
      gap: 20px;
    }
  }

  &__photo {
    flex: 0 1 50%;
    @media only screen and (max-width: 768px) {
      flex: 0 1 60%;
    }
    @media only screen and (max-width: 550px) {
      flex: 0 1 100%;
    }
  }

  .photo-wrapper {
    border-radius: 40px 100px;
    overflow: hidden;
    @media only screen and (max-width: 768px) {
      margin: 0 auto;
    }
    .photo {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.about-achievements {
  padding-top: 90px;
  padding-bottom: $section-distance;
  > :not(:last-child) {
    margin-bottom: 40px;
  }
}
