@import "../../../styles/tools/tools";

.demonstration {
  background: #000;
  height: 100vh;
  overflow: hidden;

  &__content {
    @extend %cent;

    .content {
      &__header {
        margin-bottom: 150px;
      }

      &__body {
        :not(:last-child) {
          margin-bottom: 40px;
        }
      }

      &__title,
      &__subtitle,
      &__profession {
        opacity: 0.8;
        color: #fff;
        z-index: 1;
        text-align: center;
      }

      &__subtitle {
        font-size: 20px;
        font-weight: 400;
        line-height: 120%;
        margin-bottom: 20px;
        @media only screen and (max-width: 425px) {
          font-size: 18px;
        }
      }

      &__title {
        font-size: 65px;
        font-weight: 600;
        line-height: 120%;
        @media only screen and (max-width: 768px) {
          font-size: 60px;
        }
      }

      &__profession {
        font-size: 30px;
        font-weight: 500;
        line-height: 120%;
        @media only screen and (max-width: 768px) {
          font-size: 28px;
        }
        @media only screen and (max-width: 425px) {
          font-size: 26px;
        }
      }

      &__actions {
        @extend %flex-jc;
      }
    }
  }

  &__background {
    ul {
      li {
        position: absolute;
        width: 35px;
        height: 35px;
        list-style: none;
        opacity: 0;
        background: radial-gradient(deepskyblue, transparent, transparent);
        bottom: 0;
        left: 10vw;
        animation: animate 15s linear infinite;
        @media only screen and (max-width: 768px) {
          width: 25px;
          height: 25px;
          left: 20vw;
        }
        @media only screen and (max-width: 550px) {
          width: 15px;
          height: 15px;
          left: 27vw;
        }
        @media only screen and (max-width: 375px) {
          width: 10px;
          height: 10px;
        }
        &:nth-child(2) {
          left: 37vw;
          animation-delay: 2s;
          @media only screen and (max-width: 768px) {
            left: 40vw;
          }
          @media only screen and (max-width: 550px) {
            left: 50vw;
          }
        }
        &:nth-child(3) {
          left: 25vw;
          animation-delay: 4s;
          @media only screen and (max-width: 768px) {
            left: 35vw;
          }
          @media only screen and (max-width: 550px) {
            left: 40vw;
          }
        }
        &:nth-child(4) {
          left: 60vw;
          animation-delay: 6s;
        }
        &:nth-child(5) {
          left: 75vw;
          animation-delay: 4s;
        }
      }
    }
  }
}

@keyframes animate {
  0% {
    transform: scale(0);
    opacity: 1;
    bottom: 0;
  }
  100% {
    transform: scale(10);
    opacity: 1;
    bottom: 100vh;
  }
}
