@import "../../../styles/tools/tools";

.projects {
  padding-top: $section-distance;
  padding-bottom: 100px;

  .header-projects {
    margin-bottom: 40px;
    text-align: center;
    @media only screen and (max-width: 768px) {
      margin-bottom: 25px;
    }

    &__subtitle {
      font-size: 20px;
      font-weight: 400;
      @media only screen and (max-width: 550px) {
        font-size: 18px;
      }
    }

    &__title {
      font-size: $title-size;
      font-weight: 600;
    }
  }

  .projects-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    @media only screen and (max-width: 1440px) {
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
    @media only screen and (max-width: 550px) {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }

    .projects-item {
      position: relative;
      overflow: hidden;
      background-color: #effaf7;
      height: 400px;

      &__action {
        cursor: pointer;
      }

      .c-wrapper__more {
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        width: 100%;
        height: 75px px;
        text-align: center;
        padding-top: 20px;

        span {
          display: inline-block;
          width: 45px;
          height: 45px;
          border-radius: 50%;
          vertical-align: middle;
          background: #dbdbdb;
          position: relative;
          margin: 0 20px;
          transform: scale(1);
          transition: all 0.3s ease-in-out;
          z-index: 1;

          &:nth-child(4) {
            position: absolute;
            top: 65%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 85px;
            height: 85px;
            opacity: 0.7;
            background: #ececec;
            margin: 0;
            z-index: 0;
          }
        }
      }

      .overlay__more {
        @extend %flex-ac;
        gap: 10px;
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }

      .overlay-more__text-more {
        font-weight: 500;
      }

      &:hover {
        .c-wrapper__more {
          span {
            &:nth-child(2) {
              width: 150px;
              height: 150px;
            }
          }
        }
      }
    }
  }
}
