$active-color: #00a86b;
$remove-color: #dd5145;
$first-color: #007acc;
$main-color: #dd5145;
$default-color: #535353;
$placeholder-color: rgba(0, 0, 0, 0.54);

$link-size: 18px;
$title-size: 25px;
$text-size: 18px;
