$active-color: #0561ee;
$remove-color: #dd5145;
$first-color: #007acc;
$secondary-color: rgba(33, 150, 243, 0.08);
$main-color: #000;
$second-color: #333;
$placeholder-color: rgba(0, 0, 0, 0.54);

$link-size: 18px;
$title-size: 50px;
$text-size: 18px;

$section-distance: 50px;
